/*colorStyles.css 1.00 Jan 2017 by Omar Guzman*/
/*Structure Color Modifications*/

html{
}

body {
	
}

nav {
}

article {}

header { 
}

div.profile {
	color:white;
}
div.bio {
	color:white;
}

hr {
	
}

div.grid {
}

section.contact p{
	color:black;
}
section.contact h3{
	color:black;
}

div.profilePic {
	background-color:white;
}

div.profile, nav, footer, nav div a{
	background-color:#0fa4a6!important;
	color:white;
}
html {
	background-color:#eaeaea;
}
	

h2 {}

table {}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {}

footer {
	
}